@import "tailwindcss";

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  /* background: conic-gradient(from 0deg at top left, #ffecec, #0004ff); */
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 450px;
  width: 450px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(20, 0, 0, 0.1);
  background: white;
  background: white;
  border: 1px solid #e6dce1;
  min-height: 83vh;
  min-width: 60vw;
}

.screen {
  display: flex;
  flex-direction: column;
  gap: 0px 20px;
}

.screen > h1 {
  font-size: 30px;
  padding-bottom: 20px;
  color: white;
}

.screen > h2 {
  color: white;
}

.screen > p {
  text-align: center;
  font-size: 14px;
  color: white;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}

button {
  padding: 12px;
  font-size: 1rem;
  border: none;
  background: #29a52d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 7px #807c7c;
}

button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background: #7aa7cc;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.option-btn {
  background: #b62a2a;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.option-btn:hover {
  background: #7aa7cc;
}

.option-btn.selected {
  background: #7aa7cc;
}

#next-btn {
  margin-top: 20px;
}

#progress {
  text-align: right;
  font-size: 0.9rem;
  color: #666;
}

.question-container > p {
  font-weight: 300;
  font-size: 19px;
}

.pokemon-card {
  width: 100%;
  background-color: white;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: anchor-center;
  border: 5px solid #e04848;
}

.pokemon-card-image {
  max-height: 150px;
  padding-top: 22px;
}

#difficulty-container {
  display: flex;
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.difficulty-btn {
  flex: 1;
  background: #ac1431;
}

.difficulty-btn.selected {
  background: #1a6a1c;
}

.difficulty-btn:hover:not(:disabled) {
  background: #1a6a1c;
}
