@import "tailwindcss";

body {
  margin: 0;
  font-family: monospace;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1612988952181-c995680479a2?q=80&w=3085&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.92;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
}

h1,
h2 {
  margin: 0;
}

.container {
  border-radius: 10px;
  color: white;
  width: 750px;
  justify-content: center;
  display: flex;
}

.screen {
  display: flex;
  flex-direction: row;
  gap: 30px 45px;
}

#quiz-screen {
  flex-direction: column;
  width: 375px;
}

.hero {
  flex: 1;
  text-align: left;
}

.hero > h1 {
  font-family: Didot;
  font-size: 40px;
}

.hero > h2 {
  font-size: 12px;
  width: 265px;
  line-height: 2em;
  font-family: monospace;
}

button {
  /* padding: 12px;
  font-size: 1rem;
  border: none;
  background: #29a52d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 7px #807c7c; */
  /* border: 1px solid white; */
  padding: 5px;
  border-radius: 3px;
  background: #1c1113;
  border: 1px solid #231c1d;
}

#start-btn {
  background: white;
  border: 1px solid white;
  color: black;
}

#start-btn:disabled {
  background: #b8afaf;
}

button:disabled {
  /* background: #aaa;
  cursor: not-allowed; */
}

button:hover:not(:disabled) {
  /* background: #7aa7cc; */
  background: #030202;
  border: 1px solid white;
}

button:active {
  /* background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px); */
}

#difficulty-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4px 0 0px 0;
  justify-content: center;
}

.difficulty-btn {
  border: 1px solid #231c1d;
}

.difficulty-btn.selected {
  background: #030202;
  border: 1px solid white;
}

.difficulty-btn:hover:not(:disabled) {
  background: #030202;
  border: 1px solid white;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.option-btn {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.option-btn:hover {
  background: #7aa7cc;
}

.option-btn.selected {
  background: #7aa7cc;
}

#next-btn {
  margin-top: 20px;
}

#progress {
  text-align: right;
  font-size: 0.9rem;
  color: #666;
}

.question-container > p {
  font-weight: 300;
  font-size: 19px;
}

.pokemon-card {
  width: 100%;
  background-color: white;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: anchor-center;
  border: 5px solid #e04848;
}

.pokemon-card-image {
  max-height: 150px;
  padding-top: 22px;
}

#result-screen {
  flex-direction: column;
}

@media screen and (max-width: 430px) {
  .container {
    width: auto;
    margin: 0px 40px;
  }

  .screen {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
  }

  .hero {
    text-align: center;
  }

  .hero > h2 {
    width: auto;
    padding: 0 13px;
    font-size: 15px;
  }

  #quiz-screen {
    width: 250px;
  }
}
