/* style.css */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 450px;
  width: 450px;
  background: #fff1f1;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.screen {
  display: flex;
  flex-direction: column;
  gap: 0px 20px;
}

.screen > h1 {
  font-size: 30px;
  padding-bottom: 20px;
}

.screen > p {
  text-align: center;
  font-size: 11px;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}

button {
  padding: 12px;
  font-size: 1rem;
  border: none;
  background: #4a90e2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background: #357ab8;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-btn {
  background: #b85151;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.option-btn:hover {
  background: #ddd;
}

.option-btn.selected {
  background: #7aa7cc;
}

#progress {
  text-align: right;
  font-size: 0.9rem;
  color: #666;
}

.question-container > p {
  font-weight: 300;
  font-size: 19px;
}

.pokemon-card {
  width: 100%;
  background-color: white;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: anchor-center;
  border: 5px solid #e04848;
}

.pokemon-card-image {
  max-height: 150px;
  padding-top: 22px;
}

#score-text {
  text-align: center;
}

#difficulty-container {
  display: flex;
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.difficulty-btn {
  flex: 1;
  background: #973381;
}

.difficulty-btn.selected {
  background: #6a215a;
}

.difficulty-btn:hover:not(:disabled) {
  background: #6a215a;
}
